/* Global general param
-------------------------------------------------- */
/* components */

*{
  margin:0;padding:0;    
}

html,body{
  height:100%;
  width:100%;
}

body {
  display:table;
  background-color: #eee;
  font-family: 'Open Sans',sans-serif;
  box-shadow: inset 0 0 110px rgba(0,0,0,.5);
}

.container {
 max-width: 70%;
}
.content{
  display: block;
  height:100%;
} 
.content{
 margin-top: -15px;
 margin-bottom: 20px;
}

.descrizione{
  overflow: auto;
  height: 50px;
}

#targ{
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

/* Global - Header
-------------------------------------------------- */
/* components */


.nav > li {
  display: inline-block;
}
.nav > li + li {
  margin-left: 10px;
}
.nav  li {
  font-size: 16px;
}

.nav a{
  color: rgb(82,82,82);
}

/* Index - Intro
-------------------------------------------------- */


.intro{
  text-align: center;
}
.intro h1,h3{
  margin-bottom: 30px;
}
.intro a, .intro strong{
  text-decoration: none;
  color: rgb(82,82,82);
}
.form-decision{
  margin-top: 20px;
}

 /* Global - Footers
-------------------------------------------------- 
/* Fully personalised */
.page_num{
  margin-top: 20px;
}

#footer {
  padding-top:20px;
  height: 60px;
}
/**
#footer .container{
  background-image: url("../img/unibo.png");
  background-repeat:no-repeat;
}**/
.text-muted {
  margin: 20px 0;
}
.text-muted a{
  text-decoration: none;
  /*color: #999999;*/
  color: rgb(51,51,51);
}

/* Global Devices
-------------------------------------------------- */
/* Fully personalised */

/* Potrait phones and smaller */
@media (max-width: 480px) {
  body {
    display: block;
    box-shadow: none;
  }
  .head{
     text-align: center;
  }
   .nav {
    display: block;
  text-align: center;
  }
}

/* Landscape phones and portrait tablets and more */
@media (min-width: 480px) {
  .head{
    margin-top: 20px;
  }
  .brand {
    float: left;
  }
  .nav{
    margin-top: 27px;
  }
  .nav {
  float: right;
  }
}

/* Portrait tablets and more*/
@media (min-width: 992px) {
  
}
/* Global Componentes
-------------------------------------------------- */
/* Componentes */

.active  {
  color: rgb(248,171,62);
  font-weight: bold;
}
.logo{
  width: 60px;
}

.smallnotice{
  color: red;
}

.exp_result{

  text-align: center;
}

#form1 .form-group{
  margin-top: 30px;
}

/* Form 2
--------------------------- */
/* labels  */
.pointable{
  cursor: pointer;
}

/*  Steps
--------------------------- */
/* labels  */

.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}



/*  Socials
--------------------------- */

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-weibo:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}